/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75..125,900;1,6..12,75..125,900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap");

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Global variables */

:root {
  --white: #fff;
  --black: #000;
  --hero-text: #f9faf8ea;
  --hero-text-2: #e5e7ebb7;
  --btn-col: #3882f6;
  --dark-bg: #1f2937;
  --placeholder-bg: #8e8e8e;
  --body-bg: #1f1f1f;
  --quote-col: #1f2937;
}

/* Page setup */

body {
  background-color: var(--body-bg);
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

/* Header and navigation links */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  width: 100%;
  height: 100px;
  background-color: var(--dark-bg);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--hero-text);
  font-family: "Roboto", sans-serif;
}

.nav-links {
  display: flex;
  margin: 0px 50px 50px 0px;
}

.nav-links a {
  margin: 0px 0px 20px 20px;
  color: var(--hero-text-2);
}

.nav-links a:hover {
  color: var(--placeholder-bg);
}

.header-logo {
  color: var(--hero-text);
  font-size: 24px;
  font-weight: 600;
  margin: 0px 0px 50px 50px;
}

/*  Hero section */

.hero {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-bg);
  width: auto;
  height: 450px;
  color: var(--hero-text);
}

.left {
  width: 620px;
  height: 200px;
  margin: 25px 0px 0px 150px;
  padding: 20px 0px;
}

.left h1 {
  font-size: 48px;
  font-weight: 900;
}

.left p {
  font-size: 18px;
  color: var(--hero-text-2);
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.left button {
  background-color: var(--btn-col);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
  color: var(--hero-text);
  font-weight: 500;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}

.left button:hover {
  background-color: var(--hero-text);
  color: var(--btn-col);
}

.right {
  background-color: var(--placeholder-bg);
  margin: 50px 150px;
  width: 620px;
  height: 250px;
}

.right p {
  text-align: center;
  line-height: 225px;
}

/* Information section */

.info-centre {
  background-color: var(--white);
  width: auto;
  height: 500px;
}

.info-centre h2 {
  text-align: center;
  padding: 30px 0px;
  font-size: 36px;
  margin: 0px 0px 20px 0px;
}

.quad-img {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: auto;
}

.info-img {
  width: 180px;
  height: 180px;
  border: 4px solid var(--btn-col);
  border-radius: 15px;
}

.quad-text {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: auto;
}

.subtext {
  margin: 5px 0px;
  width: 150px;
  height: auto;
  text-align: center;
  font-size: 16px;
  word-spacing: 1px;
}

/* Quote section */

.quote-sec {
  display: flex;
  width: auto;
  height: 500px;
  background-color: var(--hero-text);
  align-items: center;
  justify-content: center;
}

.thor-quote {
  max-width: 720px;
  font-size: 38px;
  font-style: italic;
  font-weight: 300;
  word-spacing: 0.3rem;
  color: var(--quote-col);
}

.author {
  text-align: end;
  font-size: 20px;
  font-weight: bold;
}

/* Footer sections */

.almost-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 350px;
  background-color: var(--white);
}

.blue-box {
  padding: 10px 0px;
  width: 1000px;
  height: 150px;
  background-color: var(--btn-col);
  border-radius: 5px;
}

.cta-text {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin: 50px 100px;
  color: var(--white);
  font-weight: 500;
}

.cta-btn {
  background-color: var(--btn-col);
  border: 3px solid var(--white);
  width: 125px;
  height: 40px;
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.cta-btn:hover {
  background-color: var(--white);
  color: var(--btn-col);
}

.cta-bold {
  font-weight: 600;
}

.cta-normal {
  font-weight: 300;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: var(--dark-bg);
  align-items: center;
}

.footer-text {
  color: var(--white);
  text-align: center;
  font-size: 12px;
  margin: 10px 0px;
}

.footer-text a:hover {
  color: var(--placeholder-bg);
}
